@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.home {
    background: linear-gradient(135deg, #000000, #0d0d0d, #1a1a1a, #000000);
    width: 100vw;
    height: 100vh;
    gap: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    & h1 {
        font-size: 45px;
        color: #fff;
    }
}

.perfil {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 15px; 
    & p {
        font-size: 20px;
        font-weight: 400;
        color: #aba9a9;
    }
}

.foto {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    background-image: url(20250714_1649_Moça\ Animada\ 3D_remix_01k057pn9pf6t8a8mf2n6ksqv9.png);
}

.foto1 {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 10px;
    background-image: url(20250714_1655_Animação\ 3D\ Vermelha_remix_01k0580y0feajs6petdrvthnwf.png);
}